<!DOCTYPE html>
{% load staticfiles %}
{% load mammoth_template_tags %}
{% load socialaccount %}

<html>
    <head>
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
		{% block style_block %}
		{% endblock %}

        <title>
            Woolly Mammoth -
            {% block title_block %}
                Lets cause a hooley and get woolly!
            {% endblock %}
        </title>
    </head>
	
    <body>
        <div class="header">

    		<div class="inner_header">
        		<div class="logo_container">
                    <a href="{% url 'mammoth:index' %}"><h1>Woolly<span>Mammoth</span></h1></a>
        		</div>
        		<ul class="navigation">
            		<!--<a href="{% url 'mammoth:forum' %}"><li>Stitch & bitch</li></a>
<a href="{% url 'mammoth:shop' %}"><li>Knit Kit</li></a>-->
                     <a href="{% url 'mammoth:about_us' %}"><li>About Us</li></a>
            		<a href="{% url 'mammoth:gallery' %}"><li>Gallery</li></a>
            		<a href="{% url 'mammoth:contact_us' %}"><li>Contact Us</li></a>
            		
            		{% if user.is_authenticated %}
                    <a href="{% url 'mammoth:share_your_pattern' %}"><li>Share Your Pattern</li></a>
            			<a href="{% url 'mammoth:logout' %}"><li>Sign Out</li></a> 
             		{% else %}
            			<a href="{% url 'mammoth:register' %}"><li>Sign Up</li></a>
             		{% endif %}
        		</ul> 
   			</div>

		</div> 

        {% block login_block %}
          <div class="login"> 
              {% if user.is_authenticated %}
 					Welcome, {{ user.username }}! <br />
				{% else %}
					Hey there visitor!
             <button style="padding: 0 15px; float: right;">
							<a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
					</button>
              <button style="padding: 0 15px; float: right;">
						<a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>
					</button>
					<button style="padding: 0 15px; float: right;">
						<a href="{% url 'social:begin' 'twitter' %}">Login with Twitter</a>
					</button>
                                                                           
					<form style="padding: 0 15px; float: right;" id="login_form" method="post" action="{% url 'mammoth:login' %}">
						{% csrf_token %}
						<strong>Login</strong> Username: <input type="text" name="username" value="" size="15" />
						Password: <input type="password" name="password" value="" size="15" />
						<input type="submit" value="submit" />
					</form> 



				{% endif %}
			</div>
        {% endblock %}
        
		

		<!-- Reports the status of a recently done action -->
		{% block status_block %}
		{% endblock %}
 <img style="padding: 30px; float: left" src="{% static "images/mammoth4.png" %}" alt="Woolly Mammoth logo">
		
	
        <div class="main">
          
    <br />
			{% block body_block %}
				This is body_block's default content.
			{% endblock %}
        </div>
		
       
		
		  <div class="footer">
            <div class="inner_footer">
        <div class="navigation">
            <ul>
				<a href="{% url 'mammoth:terms_and_conditions' %}"><li>Terms & Conditions</li></a>
				<a href="{% url 'mammoth:site_map' %}"><li>Site Map</li></a>
				<a href="{% url 'mammoth:faq' %}"><li>FAQ</li></a>
            </ul>
        </div>
                </div>
        </div>
		
    </body>
</html>