<!DOCTYPE html>

{% extends 'mammoth/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block status_block %}
    {% if pattern_uploaded %}
        <strong>Your pattern was successfully uploaded.</strong>
    {% endif %}
{% endblock %}

{% block body_block %}

    <h1>Woolly Mammoth</h1>

    <h2>Hot Images</h2>

    <div>
		<!-- Replace this to show hot images here -->
		<!--
        {% if categories %}
            <ul>
            {% for category in categories %}
                <li><a href="{% url 'mammoth:show_category' category.slug %}">{{ category.name }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
		-->
    </div>

    <h2>Members online</h2>

    <div>
		<!-- Replace this to show members online here -->
		<!--
        {% if pages %}
            <ul>
            {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <strong>There are no pages present.</strong>
        {% endif %}
		-->
    </div>
	
	<h2>Hot Forum Discussions</h2>

    <div>
		<!-- Replace this to show hot forum discussions here -->
		<!--
        {% if pages %}
            <ul>
            {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <strong>There are no pages present.</strong>
        {% endif %}
		-->
    </div>

{% endblock %}