<!DOCTYPE html>

{% extends 'mammoth/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block status_block %}
    {% if pattern_uploaded %}
        <strong>Your pattern was successfully uploaded.</strong>
    {% endif %}
{% endblock %}

{% block body_block %}
   <h2>Lets cause a hooley and get woolly!</h2>
    <h4>Hot Images</h4>

    <div>
		<!-- Replace this to show hot images here -->
		<!--
        {% if categories %}
            <ul>
            {% for category in categories %}
                <li><a href="{% url 'mammoth:show_category' category.slug %}">{{ category.name }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
		-->
    </div>

    <h4>Members online</h4>

    <div>
		<!-- Replace this to show members online here -->
		<!--
        {% if pages %}
            <ul>
            {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <strong>There are no pages present.</strong>
        {% endif %}
		-->
    </div>
	
	<h4>Hot Forum Discussions</h4>

    <div>
		<!-- Replace this to show hot forum discussions here -->
		<!--
        {% if pages %}
            <ul>
            {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <strong>There are no pages present.</strong>
        {% endif %}
		-->
        <p>Lorem ipsum dolor sit amet, eum doctus tamquam petentium no. Sed odio mnesarchum te. Et per tantas iracundia. No pro harum iriure. Ex pericula vituperatoribus vis.

Pro ne eirmod definitiones, cu ubique maiorum cum, consul consulatu id nam. His ad modus accusam facilisi, choro vivendo ex vis. Cum tale civibus eu, in mel case exerci maiestatis. Eam ne brute feugait consequuntur, graeco meliore vis ea. Movet omnium evertitur eam ne. Everti omittantur accommodare sit no. Ullum integre virtute no pri, vim id probo aeque.

Duo aeque fuisset persequeris ea, erat denique concludaturque sed no, dicunt propriae persecuti mel at. Mea no amet doming. Ei habeo putent quo, oratio scripta accommodare qui et. Idque aliquip imperdiet vim id, eu sed saepe tincidunt, ne duo mollis concludaturque. Vim dicat minimum lucilius ex, apeirian atomorum dignissim est ut. Meis molestiae aliquando id eos.

Id ponderum expetendis mel, vix in error gubergren elaboraret. In sit augue virtute, id civibus euripidis reprimique eam. Eu vim dicat euismod volutpat, et nam tempor animal delenit. Id tation verterem atomorum eam, modo quando dissentias nec cu. Vim dissentias scribentur ut. An mea tation commune oporteat. Ut esse antiopam pro.

Ea agam convenire his, at purto reque labitur cum. Ut primis partiendo sed, sit quas prompta in. Et antiopam facilisis reprehendunt sit. At mel recteque urbanitas.

In eos vitae vidisse indoctum, eu duo brute latine. Mei te facilisi maiestatis vituperata, mea ne summo semper. Ut dolorem scribentur est. Perpetua persecuti ut qui.

Pro vide ipsum blandit ne, ad has quod errem sensibus. Id quando tractatos mei, ut feugiat invenire sea. Cu nulla nostrum tacimates vis. Et utinam eruditi eos, vitae debitis mel an. Ut usu doctus consequuntur, no duo quodsi adipiscing definiebas.

In mutat vocibus vel, mea ad solum assentior. Et mel delectus accusata sensibus, et sed propriae percipit democritum. Cu adhuc reque conclusionemque cum, mentitum menandri est ea. Falli nihil eirmod mea id, eu vix possit offendit. Cum in graeci euismod. Libris appareat maiestatis usu no, in eum agam molestie, ea vel tempor dolorem inimicus.

Id his tempor principes, ne tollit contentiones eum. Quod solum legendos cu pri, eleifend mandamus cu duo, vel quidam principes at. Ut eum affert labitur explicari, no iudico nemore eam. Te velit debet accumsan usu. Zril propriae principes pri ea, ne usu modo aliquando.

Ullum aperiri sit ex. Congue noster mediocritatem quo an, vim ex accusata repudiandae. Admodum habemus mandamus per ea, nec dicam quando vidisse et. Semper malorum contentiones vim an, ex omnis ludus cum. Atqui delicatissimi pro id.</p>
    </div>

{% endblock %}