<ul>
    {% if patterns %}
        {% for p in patterns %}
            {% if p == current_pattern %}
            <li>
                <strong>
                    <a href="{% url 'mammoth:show_pattern' c.slug %}">{{ c.name }}</a>
                </strong>
            </li>
            {% else %}
                <li><a href="{% url 'mammoth:show_category' c.slug %}">{{ c.name }}</a></li>
            {% endif %}
        {% endfor %}
    {% else %}
        <li><strong>There are no categories present.</strong></li>
    {% endif %}
</ul>