{% extends 'mammoth/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Register
{% endblock %}

{% block login_block %}
    
{% endblock %}


{% block body_block %}
    <h1>Register</h1>
    {% if registered %}
        <strong>Thank you for registering!</strong> <br />
        <a href="{% url 'mammoth:index' %}">Return to the homepage.</a><br />
    {% else %}
        Fill in the details: <br />
        <form id="user_form" method="post" action="{% url 'mammoth:register' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
{% endblock %}