*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;    
}

.header{
    width: 100%;
    height: 10%;
    display: block;
    color: antiquewhite;
    background-color: #c1a188;
    overflow:auto;
    }

.inner_header{
   width: 97%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_container{
    height: 100%;
    display: table;
    float: left;
   
}

.logo_container h1{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: cursive;
    font-size: 32px;
    font-weight: 50;
}

.logo_container h1 span{
    color: #8b450d;
    font-weight: 1000;
}

.logo_container a h1 span:link{
   color: antiquewhite;
} 

.logo_container a h1 span:visited{
  color: antiquewhite;
}
.logo_container a h1 span:hover{
    color: antiquewhite;
}

.logo_container a:link{
   color: antiquewhite;
} 

.logo_container a:visited{
    color: antiquewhite;
}
.logo_container a:hover{
   color: #8b450d;
}


.navigation{
    float: right;
    height: 100%;
}

.navigation a{
    color: #8b450d;
    height: 100%;
    display: table;
    float: left;
    padding: 10px 20px;
   
}

.members{
    display: block;
    clear: both;
}

.navigation a:link{
    color: #8b450d;
} 

.navigation a li:hover{
  color: #8b450d;
}

.navigation a:last-child{
    padding-right: 0;
}

.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: antiquewhite;
    font-family:cursive;
    font-size: 16px; 
}


.login{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: antiquewhite;
    font-family: cursive;
    color: #8b450d;
    height: 5%;
    display: table;
    width: 97%;
}

.main{
    color: #8b450d;
    font-family:cursive;
    height: 80%;
    width: 80%;
    float: right;
    padding-right: 3%;
    padding-bottom: 3%;
    overflow: auto;
}


.img{
   padding: 30px; 
    float: left;
}
.footer{
    position:relative;
    bottom: 5px;
    width: 100%;
    height: 5px;
    display: block;
    background-color: #c1a188;
    clear: both;
    padding-bottom: 3%;
}

.inner_footer{
    width: 97%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.inner_footer a li:hover{
    color: #8b450d;
}


.accordion {
  background-color:antiquewhite;
  color: #8b450d;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
     margin-bottom: 5px;
}
.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.accordion span {
 
  font-size: 25px;
 
}

.active, .accordion:hover {
  background-color: #c1a188; 
}

.panel {
    content: close-quote;
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
   
}


.login input[type=text], select, textarea {
  width: 20%;
  padding: 0px;
     margin: 0;

}
.login input[type=password], select, textarea {
  width: 20%;
  padding: 0px;
     margin: 0;

}

.login input[type=submit] {
  background-color: #8b450d;
  color:antiquewhite;
  padding: 2px 3px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
    margin: 0;
}



input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=message], select, textarea {
  width: 100%;
    height: 200px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=password], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit] {
  background-color: #8b450d;
  color: white;
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
    margin-top: 30px;
}

input[type=submit]:hover {
  background-color: #8b450d;
}


.knitkitpanel{
    float: left; 
    text-align: center; 
    color: antiquewhite;
    margin-left: 30px;
    text-align: center;
    background-color: #8b450d; 
}

.knitkitpanel a:link{
    color: antiquewhite;
    clear: both;
    padding: 10px;
    display: block;
} 
.knitkitpanel a:visited{
    color: antiquewhite;
} 
.knitkitpanel a:hover{
    color: #c1a188;
} 
/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 600px;
  background-color: #8b450d;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
 top: 50%;
  left: 75%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}


/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}