input[type=text]:focus {
    border: 3px solid #555;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #c1a188;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}